* {
    /*   border: solid 1px black; */
    box-sizing: border-box;
}

/******************** Switch button ********************/
/* The switch - the box around the slider */
.switch {
    margin-bottom: 10px;
    position: relative;
    top: -20px;
    right: -45%;
    display: block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #1d2d62;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    /*    background-color: #ccc;*/
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.light:before {
    background-color: #fffcee;
}

.slider.black:before {
    background-color: #1d2d62;
}

input:checked + .slider {
    background-color: #fffcee;
}

input:focus + .slider {
    box-shadow: 0 0 1px #fffcee;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/********************** Main Page **********************/
body {
    padding: 50px;
    /*    min-width: 750px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffcee;
    color: rgba(0, 0, 0, 0.95);
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: sans-serif;
}

/* 複寫區 */
ul {
    padding: 0;
    list-style: none;
}

h2 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
}

h2::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 8px;
    margin-left: 10px;
}

h2.light::after {
    background-color: #9f6b38;
}

h2.black::after {
    background-color: #FF7168;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    margin: 0;
    margin-top: 40px;
    opacity: 0.8;
    font-weight: 400;
}

hr {
    border: none;
    border-bottom: solid 4px #9f6b38;
    width: 40%;
    margin-left: 0;
}

.container {
    /*    width: 950px;*/
    /*    min-width: 650px;*/
    border: solid 8px rgba(167, 167, 167, 0.95);
    padding: 50px;
    position: relative;
}

.decoration {
    width: 280px;
    height: 140px;
    background: linear-gradient(135deg, #9b6236, #ffffad);
    border-radius: 70px 0px 0px 70px;
    position: absolute;
    right: 0;
    top: 50px;
}

/******************** Switch button ********************/
/*********************** Skills ************************/
.block .skill {
    display: flex;
    justify-content: space-around
}

.skill h3 {
    position: relative;
    left: -30px;
}

.listLanguage,
.listProgram {
    margin-top: 0;
    /*    margin-bottom: 0;*/
}

.listProgram li,
.listLanguage li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
}

/* list skills */
.bar {
    width: 150px;
    height: 13px;
    border: solid 2px #9f6b38;
    border-radius: 5px;
    margin-left: 20px;
}

.value {
    height: 100%;
    width: 60%;
    background-color: #9f6b38;
}

.value.p10 {
    width: 10%;
}

.value.p20 {
    width: 20%;
}

.value.p30 {
    width: 30%;
}

.value.p40 {
    width: 40%;
}

.value.p50 {
    width: 50%;
}

.value.p60 {
    width: 60%;
}

.value.p70 {
    width: 70%;
}

.value.p80 {
    width: 80%;
}

.value.p90 {
    width: 90%;
}

.value.p100 {
    width: 100%;
}

/********************* Works Demo **********************/
/********************** Education **********************/
/************** Work/Academic Experience ***************/
.listWorks,
.listEducation,
.listExperience {
    margin-bottom: 40px;
}

.listWorks {
    display: flex;
    flex-wrap: wrap;
}

.listWorks li {
    margin: 3px 15px;
}

.listWorks li .short {
    display: none;
}

.listWorks a.light,
#myGitHub.light {
    color: rgba(0, 0, 0, 0.95);
    text-decoration: none;
}

.listWorks a.black,
#myGitHub.black {
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
}

/*a:hover 需放置在 a:link 跟 a:visited 之後，則 a:active 放置在 a:hover 之後*/
.listWorks a:visited,
#myGitHub:visited {
    color: #a3a3a3;
}

.listWorks a:hover,
#myGitHub:hover {
    color: #8d8d8d;
}

/********************** Education **********************/
/************** Work/Academic Experience ***************/
li.year {
    display: flex;
    margin-bottom: 15px;
}

li.year .year {
    flex: 0 0 auto;
    width: 40px;
}

li.year ul {
    padding-left: 10px;
    margin-left: 10px;
}

li.year > ul {
    border-left: solid 4px white;
}

li.year:nth-child(1) ul {
    border-color: hsl(30, 48%, 42%)
}

li.year:nth-child(2) ul {
    border-color: #b1783e
}

li.year:nth-child(3) ul {
    border-color: #bf854a
}

li.year:nth-child(4) ul {
    border-color: #c6915d
}

li.year:nth-child(5) ul {
    border-color: #cd9e70
}

.italic {
    font-style: italic;

}

@media screen and (max-width: 1024px) {
    .container {
        padding-right: 30px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        padding-right: 30px;
    }

    .decoration {
        width: 240px;
        height: 120px;
    }
}

@media screen and (max-width: 870px) {
    .container {
        padding: 40px;
    }

    .decoration {
        width: 180px;
        height: 100px;
    }

    .block .skill ul {
        width: 60%;
    }

    .bar {
        width: 180px;
        height: 14px;
        border-radius: 6px;
    }

    .block .skill {
        display: flex;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 767px) {
    body {
        padding: 20px;
    }

    .switch {
        top: -10px;
    }

    .container {
        padding: 30px;
    }

    .decoration {
        width: 130px;
        height: 100px;
    }

    .block .skill {
        display: block;
        width: 90%;
        margin-left: 15%;
        /*    justify-content: space-around*/
    }

    .block .skill ul {
        width: 80%;
    }

    .bar {
        min-width: 150px;
        height: 13px;
        border-radius: 6px;
    }

    .listWorks li .short {
        display: inline;
    }

    .listWorks li .long {
        display: none;
    }
}

@media screen and (max-width: 585px) {
    body {
        padding: 10px;
    }

    .switch {
        top: -5px;
    }

    .container {
        padding: 20px;
    }

    .decoration {
        display: none;
    }

    .bar {
        width: 100px;
        height: 13px;
        border-radius: 6px;
    }
}

@media screen and (max-width: 490px) {
    .switch {
        top: -3px;
        right: -38%;
    }

    .block .skill {
        display: block;
        width: 90%;
        margin-left: 5%;
        /*    justify-content: space-around*/
    }

    .skill h3 {
        position: relative;
        left: -10px;
    }

    .block .skill ul {
        width: 100%;
    }

    .bar {
        min-width: 70px;
        height: 13px;
        border-radius: 6px;
    }
}
